body{
    background-color: #f9efdc;
    font-family: 'Georgia'; 
    padding-left: 5%;
    padding-right: 5%;
}

/*header*/
h1{
    color:#F06292; 
    margin-top: 7%;
    text-align: center;

}

#bio{
    text-align: center;
}

/*quiz*/
#slider{
  flex-direction: column;
  justify-content: center;
  text-align: center; 
  background-color: #FFE1EF;
  padding: 2%;
  border: 2px solid #F06292;
  border-radius: 5px;
  min-height:350px;
  min-width: 350px;
}
 
h2{
    padding-top: 5%;
}

h3{
  text-align: left;
}

#flowerRecommendation {
  padding: 20px;
  text-align: center;
  background-color: #fff9ed;
  border: 2px solid #F06292;
  border-radius: 5px;
  max-width:400px;
  color: #F06292;
  min-width: 300px;
  min-height: 300px;
}

.flower{
  width:100%; 

}

#flowerRecommendation .flower-description {
  margin-top: 20px;
  color: black;
  justify-content: center;
}

button{
  background-color: #fff9ed;
  border: 2px solid #F06292;
  border-radius: 50px;
  width: 200px; 
  height: 50px;
  font-size: 20px;
  font-family: georgia;
  font-weight: bold;
}

.button-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

button:hover{
  background-color: #F06292;
  color: white;
}

#quiz{
  margin-top: 5%;
  display: flex;
  column-gap: 5%;
  justify-content: center;
}

/* slider */
input[type="range"] {
  width: 200px;
  margin-left: 2%;

}

.slider-value {
  display: inline-block;
  margin-left: 2%;
  font-weight: bold;
  color:#F06292;
}

/*MOBILE*/
@media (max-width: 925px) {
  #quiz{
      flex-direction: column;
  }
  #slider {
      width: 100%;
      min-width:400px;
  }
  #flowerRecommendation {
      width: 100%;
      margin-top: 5%;
      max-width: 94%;
  }
}